.ty-text-xs {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.05px;
}

.ty-text-s{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06px;
}

.ty-text-m{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06px;
}

.ty-text-l{
  font-size: 16px;
  line-height: 24px; 
  letter-spacing: 0.08px;
}

.ty-text-xl{
  font-size: 18px;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.09px
}

.ty-display-s{
  font-size: 20px;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
}

.ty-display-m{
  font-size: 24px;
  line-height: 32px; /* 150% */
  letter-spacing: 0.12px;
}

.ty-display-l{
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.14px;
}

.ty-display-xl{
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0.16px;
}